@use "./variables" as *;

// * Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//? UTILITY

img {
  max-width: 100%;
}
body {
  font-family: $primary-font;
}
//? /UTILITY

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;

  width: 80%;
  max-width: 1300px;
  margin: 100px auto;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 17%;
}

//? Header-Footer menu
.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  a {
    color: $color-menu-a;
    text-decoration: none;
    margin-right: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}
//? /Footer
