$bg-color: #000;
$color-price: red;
$color-price-original: black;
$color-heart: black;
$color-heart-clicked: red;
$bg-color-top-bar: #ff6900;
$bg-color-bottom-bar: #1a1a1a;
$color-menu-a: white;
$bg-product-heart: white;
$bg-color-sale: red;
$color-sale: white;
$bg-sale-sostieni: green;

$primary-font: "Roboto";
